@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

body {
    position: relative;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-size:24px;
    width:1728px;

}



* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
h1,h2,h3,p{
    margin:0;
}