@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Space+Grotesk:wght@400;500;600;700&display=swap');
body {
    position: relative;
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-size:24px;
    width:100%;
    min-width:1728px;
    background:#E5E5E5;
}



* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
h1,h2,h3,p{
    margin:0;
}